
	<!-- Hero Section end -->
    <section class="hero-section set-bg" style="background-image: url('../assets/img/news.jfif');">
		<div class="container">
			<div class="hero-warp">
				<form class="main-search-form">
					<div class="search-type">
						<div class="st-item">
							<input type="radio" name="st" id="buy" checked>
							<label for="buy">Buy</label>
						</div>
						<div class="st-item">
							<input type="radio" name="st" id="rent">
							<label for="rent">Rent</label>
						</div>
						<div class="st-item">
							<input type="radio" name="st" id="sell">
							<label for="sell">Sell</label>
						</div>
						<div class="st-item">
							<input type="radio" name="st" id="property">
							<label for="property">Property Value</label>
						</div>
						<div class="st-item">
							<input type="radio" name="st" id="agents">
							<label for="agents">Agents</label>
						</div>                                                           
					</div>
					<div class="search-input">
						<input type="text" placeholder="Search by state, postcode or suburb">
						<button class="site-btn">Search</button>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
				</form>
			</div>
		</div>
	</section>
	<!-- Hero Section end -->
<!-- Blog Section end -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="blog-item">
						<img src="../assets/img/blog/1.jpg" alt="">
						<div class="blog-text">
							<div class="blog-date">April 16, 2019</div>
							<h4>How to buy a house in this market</h4>
							<p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
							<a href="#" class="readmore-btn">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-item">
						<img src="../assets/img/blog/2.jpg" alt="">
						<div class="blog-text">
							<div class="blog-date">April 16, 2019</div>
							<h4>5 Tips to get a good deal on your house</h4>
							<p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
							<a href="#" class="readmore-btn">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-item">
						<img src="../assets/img/blog/3.jpg" alt="">
						<div class="blog-text">
							<div class="blog-date">April 16, 2019</div>
							<h4>Papers you need to buy a house </h4>
							<p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
							<a href="#" class="readmore-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="blog-item feature-blog">
				<div class="row">
					<div class="col-lg-6">
						<img src="../assets/img/blog/big-1.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<div class="blog-text">
							<div class="blog-date">April 16, 2019</div>
							<h4>Papers you need to buy a house </h4>
							<p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa.  Donec eget dolor vitae eros feugiat tristique id vitae massa.  Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
							<a href="#" class="readmore-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="blog-item">
						<img src="../assets/img/blog/4.jpg" alt="">
						<div class="blog-text">
							<div class="blog-date">April 16, 2019</div>
							<h4>How to buy a house in this market</h4>
							<p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
							<a href="#" class="readmore-btn">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-item">
						<img src="../assets/img/blog/5.jpg" alt="">
						<div class="blog-text">
							<div class="blog-date">April 16, 2019</div>
							<h4>5 Tips to get a good deal on your house</h4>
							<p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
							<a href="#" class="readmore-btn">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-item">
						<img src="../assets/img/blog/6.jpg" alt="">
						<div class="blog-text">
							<div class="blog-date">April 16, 2019</div>
							<h4>Papers you need to buy a house </h4>
							<p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
							<a href="#" class="readmore-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="blog-item feature-blog">
				<div class="row">
					<div class="col-lg-6">
						<img src="../assets/img/blog/big-2.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<div class="blog-text">
							<div class="blog-date">April 16, 2019</div>
							<h4>Papers you need to buy a house </h4>
							<p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa.  Donec eget dolor vitae eros feugiat tristique id vitae massa.  Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
							<a href="#" class="readmore-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="site-pagination">
				<a href="#">01.</a>
				<a href="#" class="active">02.</a>
				<a href="#">03.</a>
				<a href="#">04.</a>
			</div>
		</div>
	</section>
	<!-- Blog Section end -->
