	<!-- Single Property Section end -->
	<section class="single-property-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="single-property">
						<div class="sp-image">
							<img src="../assets/img/property/big.jpg" alt="">
							<div class="sp-badge new">New</div>
						</div>
						<div class="row">
							<div class="col-lg-8">
								<div class="property-header">
									<h3>2768 Clousson Road</h3>
									<h5>Houston, TX 77002 </h5>
								</div>
							</div>
							<div class="col-lg-4 text-left text-lg-right">
								<div class="property-header">
									<h3>$469,000</h3>
									<p>3 Bedrooms Townhouse</p>
								</div>
							</div>
						</div>
						<div class="property-info-bar">
							<div class="row">
								<div class="col-lg-7">
									<div class="pi-metas">
										<div class="pi-meta">3 Bed </div>
										<div class="pi-meta">2 Baths</div>
										<div class="pi-meta">1 Garage</div>
										<div class="pi-meta">2849 SF</div>
									</div>
								</div>
								<div class="col-lg-5 text-left text-lg-right">
									<a href="#" class="offer-btn">Make an Offer</a>
								</div>
							</div>
						</div>
						<div class="property-text">
							<h4>Description</h4>
							<p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl a, auctor euismod purus. Morbi pretium interdum vestibulum. Fusce nec eleifend ipsum. Sed non blandit tellus. </p>
							<h4>Details</h4>
							<p>Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl a, auctor euismod purus. Morbi pretium interdum vestibulum. Fusce nec eleifend ipsum. Sed non blandit tellus. </p>
						</div>
						<div class="property-feature">
							<div class="row">
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>House Type</h6>
										<p>Family</p>
									</div>
								</div>
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>Stories</h6>
										<p>3</p>
									</div>
								</div>
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>Year Built</h6>
										<p>2008</p>
									</div>
								</div>
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>A/C</h6>
										<p>Central</p>
									</div>
								</div>
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>Heating</h6>
										<p>Forced Air</p>
									</div>
								</div>
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>Bathrooms</h6>
										<p>2</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>Pool</h6>
										<p>Yes</p>
									</div>
								</div>
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>Fireplace</h6>
										<p>No</p>
									</div>
								</div>
								<div class="col-6 col-sm-4 col-md-3 col-lg-3">
									<div class="pf-box">
										<h6>Parking Spaces</h6>
										<p> 2 spaces</p>
									</div>
								</div>
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>Parking Type</h6>
										<p>Garage</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6 col-sm-4 col-md-3 col-lg-2">
									<div class="pf-box">
										<h6>Patio</h6>
										<p>128 SQ</p>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="pf-box">
										<h6>Playgroung</h6>
										<p>No</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="video-item">
						<img src="../assets/img/video-img.jpg" alt="">
						<a href="https://www.youtube.com/watch?v=Sz_1tkcU0Co" class="video-play"><span class="i fa fa-play"></span></a>
					</div>
					<div class="loan-calculator">
						<h4>Loan Calculator</h4>
						<div class="row">
							<div class="col-md-4">
								<input type="text" placeholder="Purchase Price" id="lc-price">
							</div>
							<div class="col-md-4">
								<input type="text" placeholder="Interest Rate" id="lc-interest">
							</div>
							<div class="col-md-4">
								<input type="text" placeholder="Down Payment" id="lc-dpay">
							</div>
							<div class="col-md-12">
								<div class="loan-cal-result">Weekly Payments: <span id="lc-result">$0.00</span></div>
								<div class="text-left text-sm-right">
									<button class="site-btn sb-big" id="lc-submit">Apply for pre-Qualification</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-8 sidebar">
					<div class="agent-widget">
						<img src="../assets/img/agents/1.jpg" alt="">
						<div class="aw-text">
							<h4>Christinne James</h4>
							<h6>Real Estate Agent</h6>
							<p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
							<a href="#" class="readmore-btn">Contact the agent</a>
						</div>
					</div>
					<div class="map-widget">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--  Section end -->

